:root {
    --ssc-blue: rgb(64, 169, 252);
    --ssc-purple: rgb(99, 68, 132);
    --ssc-red: rgb(179, 46, 64);
    --ssc-dark-blue: rgb(9, 68, 84);
    --fullwidth: 100%;
    --borderStyle: 1px solid #000;
}

.grid {
    display: grid;
    gap: 2px;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    z-index: 0;
}

.grid-row {
    display: grid;
    gap: 2px;
}

.gridCell {
    width: calc(min(4vw, 4vh) - 15px);
    height: calc(min(4vw, 4vh) - 15px);
    overflow: hidden;
    border: 1px dotted #000;
    flex-shrink: 0;
}

.gridCell--block {
    background-color: var(--ssc-dark-blue);
}

.gridCell--visited {
    background-color: var(--ssc-blue);
    transition: background-color 0.25s;
}

.gridCell--wall {
    background-color: var(--ssc-purple);
    transition: background-color 0.25s;
}

.gridCell--path {
    background-color: var(--ssc-red);
    transition: background-color 0.25s;
}

.gridCell--start {
    background-color: #4dd276;
}

.gridCell--end {
    background-color: #ec605b;
}
